[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
ipykernel = "*"
notebook = "*"
clean-text = "*"
pandas = "*"
unidecode = "*"
matplotlib = "*"
beautifulsoup4 = "*"
requests = "*"
scrapy = "*"
numpy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
starlette = "*"
pydantic = "*"
python-decouple = "*"
nltk = "*"
regex = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"

