[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clean-text = "*"
unidecode = "*"
beautifulsoup4 = "*"
requests = "*"
pydantic = "*"
python-decouple = "*"
nltk = "*"
regex = "*"
black = "*"
lxml = "*"
mypy = "*"
types-beautifulsoup4 = "*"
types-requests = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
